.filter {
  display: flex;
  gap: 10px;
  margin: 60px 0;
  &__selected,
  &__input {
    border-radius: 6px;
    border: 2px solid $input-border;
    background-color: $white;
  }
  &__selected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    cursor: pointer;
    color: $placeholder-text;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    span,
    img {
      pointer-events: none;
    }
    span {
      text-overflow: ellipsis;
      overflow: hidden;
      width: calc(100% - 20px);
    }
    &::after {
      content: "";
      background: url("../images/select-down.svg") center/contain no-repeat;
      width: 20px;
      height: 6px;
      display: block;
      float: right;
      border-radius: 6px 10px 10px 6px;
      transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    }
    &-gray {
      border: 1px solid $placeholder-text;
      border-radius: 6px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: Open Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      color: $placeholder-text;
      padding: 9px 16px;
      gap: 15px;
    }
  }

  &__input {
    padding: 14px 14px 14px 12px;
    outline: none;
    position: relative;
    &::placeholder {
      font-family: Open Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }
    &-big {
      max-width: 405px;
      width: 100%;
    }
    &-wrp {
      position: relative;
      padding: 0;
      span {
        position: absolute;
        top: 30%;
        right: 7px;
        font-family: Open Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        z-index: 1;
        color: $placeholder-text;
        white-space: pre;
      }
    }
    &-right {
      // max-width: 120px;
      width: 100%;
      height: 100%;
      &::placeholder {
        text-indent: calc(100% - 14px);
      }
    }
  }
  &__select {
    min-width: 142px;
    // width: 100%;
    position: relative;
    & > * {
      width: 100%;
    }
  }
  &__options {
    position: absolute;
    transform: translateY(5px);
    left: 0;
    border-radius: 6px;
    border: 1px solid #2787f5;
    background-color: $white;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    z-index: 2;
    overflow: hidden;
    &__item {
      padding: 12px 14px 13px 14px;
      cursor: pointer;
      font-family: Open Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      color: $placeholder-text;
      &:hover {
        background-color: $input-border;
        color: $white;
      }
    }
    &-gray {
      color: $placeholder-text;
      border: 1px solid $placeholder-text;
      &-select {
        font-family: Open Sans;
        min-width: 172px;
      }
    }
    &.open {
      opacity: 1;
      visibility: visible;
    }
  }
  &__btn {
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bg-btn;
    color: $white;
    padding: 14px 42px;
    margin-left: 40px;
    text-decoration: none;
    font-family: Gotham Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
  }
  @media (max-width: 1000px) {
    display: grid;
    grid-template-columns: 1fr 1fr 0.7fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    &__input-big {
      order: -2;
      max-width: none;
      grid-column: 1 / span 4;
    }
  }
  @media (max-width: 630px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    &__input-big {
      grid-column: 1 / span 3;
    }
    &__select {
      max-width: none;
      white-space: nowrap;
    }
    &__input,
    &__selected {
      width: 100%;
      padding: 14px 6px 14px 6px;
    }
    &__btn {
      width: 100%;
      margin: 0;
      grid-column: 1 / span 3;
    }
  }
  @media (max-width: 370px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    &__input-big {
      grid-column: 1 / span 1;
    }
    &__btn {
      grid-column: 1 / span 1;
    }
    &__input-right {
      max-width: 100%;
    }
  }
}
