.menu {
  width: 100%;
  display: flex;
  gap: 30px;
  border-bottom: 1px solid $menu-border;
  padding: 9px;
  padding-left: 0;
  margin-bottom: 30px;
  &__item {
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: $text-primary;
    cursor: pointer;
    position: relative;
    &.active {
      color: $menu-active;
      &::before {
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: -10px;
        background-color: $menu-active;
        left: 0;
      }
    }
    @media (max-width: 490px) {
      font-size: 11px;
    }
  }
  @media (max-width: 490px) {
    gap: 15px;
  }
}
