$main-blue: #2196f3;
$bg-gray: #fafbff;
$bg-btn: #ff6d4a;
$text-title: #007aff;
$white: #fff;
$black: #000;
$input-border: #2787f5;
$bg-footer: #828282;
$text-primary: #6e6893;
$placeholder-text: #7e7e7e;
$dark-gray: #828282;
$text-footer: #D9D9D9;